.*
!.github
!.editorconfig
!.flake8
!.gitignore
!.gitkeep

# from test projects:
/bx_django_utils_tests/static/
*.sqlite3

# Coverage HTML Report files:
htmlcov

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
env/
build/
develop-eggs/
dist/
sdist/
*.egg-info/
.installed.cfg
*.egg
/publish.log
/coverage.*

