.*
!.github
!.editorconfig
!.flake8
!.gitignore
!.isort.cfg
!/.travis.yml
!/.style.yapf
!.coveralls.yml

# from test projects:
/static/
/media/
*.sqlite3

# Coverage HTML Report files:
htmlcov

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
poetry.lock
env/
build/
develop-eggs/
dist/
sdist/
*.egg-info/
.installed.cfg
*.egg
/publish.log
