[tool.poetry]
name = 'bx_py_utils'
version = "0.0.3"
description = 'Various Python / Django utility functions'
authors = [
    'Jens Diemer <jens.diemer@boxine.de>',
    'Philipp Hagemeister <phihag@phihag.de>'
]
classifiers = [
    'Development Status :: 3 - Alpha',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Framework :: Django',
    'Intended Audience :: Developers',
]
license = 'MIT'
keywords=['django', 'utilities']
readme='README.md'

[tool.poetry.dependencies]
python = '>=3.6,<4.0.0'
django = '*'

[tool.poetry.dev-dependencies]
tox = '*'
pytest = '*'
pytest-randomly = '*'
pytest-cov = '*'
pytest-django = '*'
flake8 = '*'
flynt = '*'
autopep8 = '*'
isort = '*'
poetry-publish = "*"  # https://github.com/jedie/poetry-publish

[tool.poetry.scripts]
publish = "bx_py_utils_tests.test_project.publish:publish"

[build-system]
requires = ['poetry>=0.12']
build-backend = 'poetry.masonry.api'
